<% @rows.each do |row| %>
<div class="row" id="all">
<!--   <div class="span2"></div> -->
  <div class="span2">
  <% if row["image"] != "" %>
    <img src="<%= row["image"] %>" class="img-polaroid">
  <% else %>
    <img src="/missing.png" class="img-polaroid">
  <% end %>
  </div>
  <div class="span1 offset1">
    <div class="li">Name:</div>
    <div class="li">Age:</div>
    <div class="li">Gender:</div>
  </div>
  <div class="span7">
    <div class="li" id="info"><%= row["name"] %></div>
    <div class="li" id="info"><%= row["age"] %></div>
    <div class="li" id="info"><%= row["gender"] %></div>
    <div>
      <div class="float">
      <a href="<%= row["twitter"] %>"><img id="icons" src="/twitter.png"></a></div>
      <div class="float"><a href="<%= row["facebook"] %>"><img id="icons"src="/facebook.png"></a></div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <h2>Delete A Friend</h2>
  <form class="form-horizontal" action="/remove" method="post">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" name="inputName" placeholder="Name">
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-warning btn-large" id="but2">Delete Friend</button>
    </div>
  </form>
</div>
